body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .Navigation {
    background-color: rgb(234, 238, 229) !important
  }

  .profileItems {
    background-color: rgb(234, 238, 229) !important;
    text-align: center;
    color:rgb(92, 43, 226);
  }

  .star {
    color:gold;
  }

  .iconEmail{
    color:green;
  }

  .iconLocation{
    color:red;
  }

  .userNameTitle{
    color:purple;
  }
  .SingleCard {
    height: auto;
    width: 500px;
    margin: auto
  } 
  .cardsize{
    height: 100%;
    padding: 10px;
  }
